In [1]:
import requests
from bs4 import BeautifulSoup
from bs4.element import Comment

In [9]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jakarta-timur/indomaret')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-subhead-14-med')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj1=pd.DataFrame(hj_branded1, columns=["NAMA_TOKO"])

In [10]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jakarta-timur/indomaret')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-body-13-reg')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj2=pd.DataFrame(hj_branded1, columns=["ALAMAT"])

In [11]:
frame = [ hj1,hj2]
result = pd.concat(frame,axis=1)

In [17]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jember/indomaret')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-subhead-14-med')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj3=pd.DataFrame(hj_branded1, columns=["NAMA_TOKO"])

In [19]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jember/indomaret')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-body-13-reg')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj4=pd.DataFrame(hj_branded1, columns=["ALAMAT"])

In [21]:
frame = [ hj3,hj4]
result2 = pd.concat(frame,axis=1)

In [29]:
frame = [ result,result2]
result_final = pd.concat(frame,ignore_index=True)

In [30]:
result_final

      NAMA_TOKO                                             ALAMAT
0    Indomaret    Jl Cipinang Lontar Indah 9 , 13420 Jakarta Ti...
1    Indomaret      Kp Jembatan 10 RT 004/01, 13940 Jakarta Timur
2    Indomaret              Jl I Gusti Ngurah Rai,  Jakarta Timur
3    Indomaret                   Jl Mayjen Sutoyo,  Jakarta Timur
4    Indomaret              Jl Raya Duren Sawit 99, 13440 Jakarta
..          ...                                                ...
67   Indomaret                      Jl Kalimantan 9, 68121 Jember
68   Indomaret                 Jl Dharmawangsa 9-10, 68136 Jember
69   Indomaret                           Jl Mastrip, 68121 Jember
70   Indomaret                      Jl Rambipuji 73, 68152 Jember
71   Indomaret                      Jl Raya Kawi 38, 68171 Jember

[72 rows x 2 columns]

In [31]:
result_final.to_excel("crawling_indomaret.xlsx")

In [32]:
result['City'] = "Jakarta Timur"

In [36]:
result = result.drop_duplicates()

In [37]:
result2['City'] = "Jember"

In [39]:
result2 = result2.drop_duplicates()

In [41]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jakarta-timur/alfamart')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-subhead-14-med')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj5=pd.DataFrame(hj_branded1, columns=["NAMA_TOKO"])

In [43]:
import pandas as pd
hj_branded1 = []
for page_number in range(1, 4):
    page_response = requests.get(f'https://www.tiendeo.co.id/toko/jakarta-timur/alfamart')
    page_soup = BeautifulSoup(page_response.text, 'html.parser')
    product_names = page_soup.select('#nearest-stores-slider .typo-body-13-reg')
    for product_name in product_names:
        row = product_name
        hj_branded1.append(row)
    hj6=pd.DataFrame(hj_branded1, columns=["Alamat"])

In [44]:
frame = [ hj5,hj6]
result3 = pd.concat(frame,axis=1)

In [45]:
result3['City'] = "Jakarta Timur"

In [46]:
result3 = result3.drop_duplicates()

In [47]:
result3

,NAMA_TOKO,Alamat,City
0,Cileungsi Branch 1 & 2,Kawasan Industri Menara Permai Kav.18 Jl.Raya...,Jakarta Timur
1,Parung Branch,"PT. SUMBER ALFARIA TRIJAYA, Tbk, DC GN SINDUR...",Jakarta Timur
2,Jababeka Branch,"Jl. Industri Selatan Blok PP No.6, Bekasi",Jakarta Timur
3,Cikokol Branch,Jl. MH Thamrin No 9 Cikokol Tangerang - 15117...,Jakarta Timur
4,Cikokol Head Office,"Jl. MH Thamrin No.9, 15117 Tangerang",Jakarta Timur
5,Karadenan Branch,"JL.Raya Karadenan RT.01 RW.10, Cibinong",Jakarta Timur
6,Balaraja Branch,"KP. Seglok, Ds Pasir Bolang, Kec Tigaraksa. B...",Jakarta Timur
7,Alfamart,"JL Klari Raya, No. 9, RT 07 RW 01, Anggadita,...",Jakarta Timur